.card-img img{
    object-fit: cover;
    height: 100%;
    width: auto;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
    border-radius: var(--borde-radius-15);
    padding: 1rem;
}

.card-img:hover img {
    transform: scale(1.05);
  }

.card-img{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.card-header h1{
    font-size: 3.5rem;
}


.card-desc{
    font-size: 1.6rem;
    text-align: justify;
    color: rgb(71, 71, 71);
}


.horizon-card{
    padding: 1rem;
}