.card-img img{
    object-fit: cover;
    height: 75%;
    width: auto;
    box-sizing: border-box;
    border-radius: var(--borde-radius-15);
    padding: 1rem;
}
.card-img{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outline{
    border: 1px solid rgb(223, 223, 223);
}


.card-header h1{
    font-size: 2rem;
}


.card-desc{
    font-size: 1.6rem;
    text-align: justify;
    color: rgb(71, 71, 71);
}


.horizon-card{
    padding: 1rem;
}