:root {
  --main-theme: #1879ad;
  --primary-text-color: white;
  --borde-radius-5: 5px;
  --borde-radius-15: 15px;
  --font: 'san-serif';
  font-family: sans-serif;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

html{
  font-size: 10px;
  font-family: sans-serif;
}